#![enable(implicit_some)]
{
    "TentsAndTrees": (
        spatial_elements: [
            (
                Cell: {
                    "Empty": (
                        // color: "GREEN",
                    ),
                    "Flagged": (
                    ),
                    "Tree": (
                    ),
                    "Tent": (
                    ),
                },
            ),
        ],
    ),
}